button,
input[type="button"],
input[type="submit"] {
	padding: 0.75rem 1rem;
	background-color: $button-primary;
	color: white;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: $button-primary-hover;
	}
	&:active {
		background-color: $button-primary-active;
	}
}

.link-button {
	display: inline-block;
	background-color: $button-secondary;
	color: white;
	padding: 0.5em 1em;
	border-radius: 2em;

	&:hover {
		background-color: $button-secondary-hover;
	}
	&:active {
		background-color: $button-secondary-active;
	}
}
