.navbar {
	@extend section;

	.top {
		@include flexbox(center, space-between);

		.logo {
			padding: 0.5rem 0;
		}

		.menu {
			cursor: pointer;
		}
	}

	.bottom {
		display: none;
		nav {
			ul {
				list-style-type: none;

				li:nth-last-child(1) {
					margin-bottom: 1rem;
				}

				a {
					display: block;
					font-family: $font-nunito;
					padding: 0.5rem 1rem;
				}
			}
		}
	}
}
