table {
	width: 100%;
	border: 1px solid lightblue;
	border-radius: 0.5rem;

	th,
	td {
		padding: 0.5em;
	}

	td {
		border-top: 1px solid lightblue;
	}

	th:not(:last-child) {
		border-right: 1px solid lightblue;
	}
	td:not(:last-child) {
		border-right: 1px solid lightblue;
	}
}
